[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dictionaRy"]
	path = dictionaRy
	url = https://github.com/stevecondylios/dictionary
[submodule "gitGPT"]
	path = gitGPT
	url = https://github.com/stevecondylios/gitgpt
[submodule "iteratoR"]
	path = iteratoR
	url = https://github.com/stevecondylios/iterator
[submodule "mmr"]
	path = mmr
	url = https://github.com/stevecondylios/mmr
[submodule "netstat"]
	path = netstat
	url = https://github.com/stevecondylios/netstat
[submodule "priceR"]
	path = priceR
	url = https://github.com/stevecondylios/pricer
